7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#connecting to webdriver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
search_job = driver.find_element_by_id ('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [5]:
search_btn = driver.find_element_by_xpath("//div[@class ='search-btn']/button")
search_btn.click()

In [6]:
url = "https://www.naukri.com/data-scientist-jobs?k=data%20scientist"

In [7]:
# lets open the page through web driver
driver.get(url)

In [8]:
job_titles = []
job_location = []
company_names = []
job_description =[]

In [9]:
#lets extract job titles
titles_tags = driver.find_elements_by_xpath ("//a[@class = 'title fw500 ellipsis']")
titles_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="bd82646d-ce66-4373-a15e-eccbf8c47e96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="aabf3e83-322a-4997-bd0d-4557729273af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="6884061a-7968-47c5-8a09-8bebd1dc2f1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="862a05b7-7f7f-4021-8f5f-f29b829c8ae3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="ebf977dd-de69-4f68-be19-405c18c17098")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="5321a6b3-e45b-4d14-b4f3-cbb657e93996")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="73d4faad-d1b5-4d3c-869a-ea64ada728fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="30c8b4ff-7cc6-481f-979b-1d906663a279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="03b286d5-0062-42bf-8db6-48114e15bf16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="8465d687-f041-47fb-91e1-b317af5a63e3")>]

In [10]:
for i in  titles_tags:
    title = i.text
    job_titles.append(title)
job_titles [0:10]

['Senior / Lead Data Scientist',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Analytics & AI Product Mgmt - Sr. Data Scientist',
 'Principal Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist - SQL/Spark/Python',
 'Senior Data Scientist: Computer Vision/Image Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist, Modeling']

In [11]:
#lets extract job locations
locations_tags = driver.find_elements_by_xpath ("//li[@class = 'fleft grey-text br2 placeHolderLi location']")
locations_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="885fcd2c-48e3-4128-970d-58b318b1eb8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="b6ecb817-1907-41f5-aaef-5b21496fae53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="383445b7-e0f5-4e23-9684-47cd6e7a7c48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="ebd7a709-fff9-4a5f-a088-77f6d8e72c98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="80aec3f8-a149-40ff-ad1a-54fa6604ef27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="94b561af-f64b-4384-8396-7321d553d99a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="982de650-7f60-4e54-9152-d84748c939e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="55cba304-36de-484d-865d-fe0bced0d0ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="e357d518-666a-4bdb-b9a4-f8a6f48b7c26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="f56e43f9-aeb5-4790-b557-375457de175a")>]

In [12]:
for i in  locations_tags:
    location = i.text
    job_location.append(location)
job_location [0:10]

['Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Other',
 'Mumbai',
 'Mumbai, Thane, Navi Mumbai',
 'Mumbai',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)']

In [13]:
#lets extract company names
companies_tags = driver.find_elements_by_xpath ("//a[@class = 'subTitle ellipsis fleft']")
companies_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="03d2e1ef-85df-4daf-aaab-66441c319726")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="2e1db55c-63b6-452f-b09d-f337129b027a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="0818dfe9-87cc-4253-8479-ff6217bbb8cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="a6477636-2c6c-404a-b6b4-1eb8c9878089")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="8de01dc6-ae75-4d55-9668-793117311b17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="b6eb65f8-8b0c-4d3f-a17d-085a4a02a2e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="6c382d39-a1a0-44ae-ad6c-152832a3c381")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="4eae4d74-dfec-4b0a-878e-31f7ee7982b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="c9ac9431-880b-47ab-945e-ed26a5a476f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="28a0a0f1-55ac-467c-907d-3de09ecb69c6")>]

In [14]:
for i in  companies_tags:
    company = i.text
    company_names.append(company)
company_names [0:10]

['TVS CREDIT SERVICES LIMITED',
 'CES Ltd.',
 'CES Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Walmart Global Tech India',
 'VIAPROM Analytics',
 'Datamatics Business Solutions',
 'Fractal Analytics',
 'Vijaya Management Services',
 'Nielsen']

In [15]:
#lets extract description
descriptions_tags = driver.find_elements_by_xpath ("//div[@class = 'job-description fs12 grey-text']")
descriptions_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="18dd2368-c88f-41f5-8c91-b1121d6b6a56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="5a10b2a0-cd01-4664-8eee-e699cee56373")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="d0d112b4-a529-4824-9670-d93856d5d7fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="3cd02051-fb49-4407-8a5c-abcf948dc27d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="94de7726-8217-4861-80d7-0634da1b2a65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="1cfc7f03-1a6c-4082-9482-33677ddd296c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="1e301fc0-1f57-4284-9683-f9383591be2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="bc23deeb-08de-48ea-b3a9-548974e5c1a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="81794b9e-d55b-4e58-8fef-01373fc047c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9b5a7ca1f9c8de817d604687ead98f2", element="f53afc78-6f80-4069-9c56-ff74d583ab48")>]

In [16]:
for i in descriptions_tags:
    descrpt = i.text
    job_description.append(descrpt)
job_description [0:10]

['Experience in working with large data sets and big data systems (SQL, Hadoop, Hive, etc...',
 'Must be extremely detail and technology-oriented and possess excellent communications s...',
 'Must be extremely detail and technology-oriented and possess excellent communications s...',
 'A higher degree (PhD preferred) in Engineering, Statistics, Data Science, Applied Mathe...',
 'This is an exciting opportunity for you to innovate, influence transform shopping exper...',
 'Extensive experience in Machine learning algorithms such as Regression, Advanced Regres...',
 'Artificial Intelligence and Machine Learning experience in building data modelsEducatio...',
 'Ability to understand client requirements, design and drive the solutions Design, under...',
 '3+ years practical experience with advanced machine learning techniques and big data te...',
 'Masters degree in Economics, Mathematics, Statistics, Engineering 5 years of relevant e...']

In [17]:
print (len (job_titles),len (job_location),len (company_names),len (job_description))

20 20 20 20

In [18]:
#importing pandas
jobs = pd.DataFrame ({})
jobs ['TITLE'] = job_titles
jobs ['LOCATION'] = job_location
jobs ['COMPANY'] = company_names
jobs ['DESCRIPTION'] = job_description

In [19]:
jobs

,TITLE,LOCATION,COMPANY,DESCRIPTION
0,Senior / Lead Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",TVS CREDIT SERVICES LIMITED,Experience in working with large data sets and...
1,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Must be extremely detail and technology-orient...
2,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Must be extremely detail and technology-orient...
3,Analytics & AI Product Mgmt - Sr. Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,A higher degree (PhD preferred) in Engineering...
4,Principal Data Scientist,Other,Walmart Global Tech India,This is an exciting opportunity for you to inn...
5,Senior Data Scientist,Mumbai,VIAPROM Analytics,Extensive experience in Machine learning algor...
6,Senior Data Scientist - SQL/Spark/Python,"Mumbai, Thane, Navi Mumbai",Datamatics Business Solutions,Artificial Intelligence and Machine Learning e...
7,Senior Data Scientist: Computer Vision/Image A...,Mumbai,Fractal Analytics,"Ability to understand client requirements, des..."
8,Senior Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",Vijaya Management Services,3+ years practical experience with advanced ma...
9,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,"Masters degree in Economics, Mathematics, Stat..."
10,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Required Technical and Professional ExpertiseP...
11,"Sr. Data Scientist I, SIP",Hyderabad/Secunderabad,Invesco,Job SummaryWere a leading independent investme...
12,Data Scientist,Hyderabad/Secunderabad,Tide Software,Youve expertise preferably with Python or othe...
13,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Should have hired and nurtured talent and grow...
14,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Should have hired and nurtured talent and grow...
15,Data Scientist - Python/ MATLAB/ Machine Learn...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,"BS / MS/PhD in Computer Science, Statistics, A..."
16,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,"BS/ MS/ PhD in Computer Science, Statistics, A..."
17,Manager- Senior Clinical Data Scientist,Chennai,PFIZER LIMITED,Provide project management leadership to DM te...
18,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Scienaptic Systems,Responsibilities and duties Focus on developin...
19,Hiring For Data Scientist(Python - ML) early j...,"Chandigarh, Pune, Mumbai (All Areas)",eClerx Services Ltd.,"Should be willing to work in shifts (APJ, EME ..."

In [20]:
driver.close()

Q8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [21]:
import selenium
import pandas as pd
from selenium import webdriver

In [22]:
#connecting to webdriver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [23]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [24]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'

In [25]:
driver.get(url)

In [26]:
Table = []

In [35]:
table_tags = driver.find_elements_by_xpath ("//table[@class = 'in-article sortable']")
table_tags [0:10]

In [36]:
for i in  table_tags:
    tables = i.text
    Table.append(tables)
Table [0:10]

['Top 100 best selling books of all time\nUK sales only. Click heading to sort table. Download this data\nRank\nTitle\nAuthor\nVolume Sales\nPublisher\nGenre\nSOURCE: NIELSEN BOOK SCAN\n1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure\n2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children\'s Fiction\n3 Harry Potter and the Philosopher\'s Stone Rowling, J.K. 4,200,654 Bloomsbury Children\'s Fiction\n4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children\'s Fiction\n5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas\n6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children\'s Fiction\n7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children\'s Fiction\n8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children\'s Fiction\n9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure\n10 Harry Potter and the Half-blood Prince:Children\'s Edition Rowling, J.K. 2,950,264 Bloomsbury Children\'s Fiction\n11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas\n12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction\n13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure\n14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas\n15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure\n16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction\n17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure\n18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction\n19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction\n20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction\n21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure\n22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science\n23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure\n24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction\n25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books\n26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books\n27 Jamie\'s 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General\n28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction\n29 One Day Nicholls, David 1,616,068 Hodder & Stoughton General & Literary Fiction\n30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction\n31 Girl Who Kicked the Hornets\' Nest,The:Millennium Trilogy Larsson, Stieg 1,555,135 Quercus Crime, Thriller & Adventure\n32 Time Traveler\'s Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction\n33 Atonement McEwan, Ian 1,539,428 Random House General & Literary Fiction\n34 Bridget Jones\'s Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction\n35 World According to Clarkson,The Clarkson, Jeremy 1,489,403 Penguin Humour: Collections & General\n36 Captain Corelli\'s Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction\n37 Sound of Laughter,The Kay, Peter 1,310,207 Random House Autobiography: General\n38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction\n39 Billy Connolly Stephenson, Pamela 1,231,957 HarperCollins Biography: The Arts\n40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General\n41 Gruffalo\'s Child,The Donaldson, Julia 1,208,711 Pan Macmillan Picture Books\n42 Angela\'s Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General\n43 Birdsong Faulks, Sebastian 1,184,967 Random House General & Literary Fiction\n44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction\n45 Labyrinth Mosse, Kate 1,181,093 Orion General & Literary Fiction\n46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy\n47 Help,The Stockett, Kathryn 1,132,336 Penguin General & Literary Fiction\n48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction\n49 Memoirs of a Geisha Golden, Arthur 1,126,337 Random House General & Literary Fiction\n50 No.1 Ladies\' Detective Agency,The:No.1 Ladies\' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure\n51 Island,The Hislop, Victoria 1,108,328 Headline General & Literary Fiction\n52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction\n53 You are What You Eat:The Plan That Will Change Your Life McKeith, Gillian 1,104,403 Penguin Fitness & Diet\n54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction\n55 Tales of Beedle the Bard,The Rowling, J.K. 1,090,847 Bloomsbury Children\'s Fiction\n56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure\n57 Dr. Atkins\' New Diet Revolution:The No-hunger, Luxurious Weight Loss P Atkins, Robert C. 1,054,196 Random House Fitness & Diet\n58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction\n59 Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne 1,023,688 Profile Books Group Usage & Writing Guides\n60 Delia\'s How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General\n61 Chocolat Harris, Joanne 1,009,873 Transworld General & Literary Fiction\n62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction\n63 My Sister\'s Keeper Picoult, Jodi 1,003,780 Hodder & Stoughton General & Literary Fiction\n64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction\n65 To Kill a Mockingbird Lee, Harper 998,213 Random House General & Literary Fiction\n66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest\n67 Dear Fatty French, Dawn 986,753 Random House Autobiography: The Arts\n68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction\n69 Hannibal Harris, Thomas 970,509 Random House Crime, Thriller & Adventure\n70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy\n71 Stupid White Men:...and Other Sorry Excuses for the State of the Natio Moore, Michael 963,353 Penguin Current Affairs & Issues\n72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure\n73 Sharon Osbourne Extreme:My Autobiography Osbourne, Sharon 959,496 Little, Brown Book Autobiography: The Arts\n74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction\n75 At My Mother\'s Knee ...:and Other Low Joints O\'Grady, Paul 945,640 Transworld Autobiography: The Arts\n76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing\n77 Return of the Naked Chef,The Oliver, Jamie 925,425 Penguin Food & Drink: General\n78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction\n79 Jamie\'s Italy Oliver, Jamie 906,968 Penguin National & Regional Cuisine\n80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet\n81 Down Under Bryson, Bill 890,847 Transworld Travel Writing\n82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure\n83 Small Island Levy, Andrea 869,659 Headline General & Literary Fiction\n84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General\n85 Brick Lane Ali, Monica 856,540 Transworld General & Literary Fiction\n86 Memory Keeper\'s Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction\n87 Room on the Broom Donaldson, Julia 842,535 Pan Macmillan Picture Books\n88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction\n89 My Booky Wook Brand, Russell 820,563 Hodder & Stoughton Autobiography: The Arts\n90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science\n91 "Beano" Annual,The 0 816,585 D.C. Thomson Children\'s Annuals\n92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction\n93 House at Riverton,The Morton, Kate 814,370 Pan Macmillan General & Literary Fiction\n94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction\n95 Nights of Rain and Stars Binchy, Maeve 808,900 Orion General & Literary Fiction\n96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction\n97 Happy Days with the Naked Chef Oliver, Jamie 794,201 Penguin Food & Drink: General\n98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction\n99 Lost Boy,The:A Foster Child\'s Search for the Love of a Family Pelzer, Dave 791,507 Orion Biography: General\n100 Jamie\'s Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General',
 'Top 100 best selling books of all time\nUK sales only. Click heading to sort table. Download this data\nRank\nTitle\nAuthor\nVolume Sales\nPublisher\nGenre\nSOURCE: NIELSEN BOOK SCAN\n1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure\n2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children\'s Fiction\n3 Harry Potter and the Philosopher\'s Stone Rowling, J.K. 4,200,654 Bloomsbury Children\'s Fiction\n4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children\'s Fiction\n5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas\n6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children\'s Fiction\n7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children\'s Fiction\n8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children\'s Fiction\n9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure\n10 Harry Potter and the Half-blood Prince:Children\'s Edition Rowling, J.K. 2,950,264 Bloomsbury Children\'s Fiction\n11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas\n12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction\n13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure\n14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas\n15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure\n16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction\n17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure\n18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction\n19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction\n20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction\n21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure\n22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science\n23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure\n24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction\n25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books\n26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books\n27 Jamie\'s 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General\n28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction\n29 One Day Nicholls, David 1,616,068 Hodder & Stoughton General & Literary Fiction\n30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction\n31 Girl Who Kicked the Hornets\' Nest,The:Millennium Trilogy Larsson, Stieg 1,555,135 Quercus Crime, Thriller & Adventure\n32 Time Traveler\'s Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction\n33 Atonement McEwan, Ian 1,539,428 Random House General & Literary Fiction\n34 Bridget Jones\'s Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction\n35 World According to Clarkson,The Clarkson, Jeremy 1,489,403 Penguin Humour: Collections & General\n36 Captain Corelli\'s Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction\n37 Sound of Laughter,The Kay, Peter 1,310,207 Random House Autobiography: General\n38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction\n39 Billy Connolly Stephenson, Pamela 1,231,957 HarperCollins Biography: The Arts\n40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General\n41 Gruffalo\'s Child,The Donaldson, Julia 1,208,711 Pan Macmillan Picture Books\n42 Angela\'s Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General\n43 Birdsong Faulks, Sebastian 1,184,967 Random House General & Literary Fiction\n44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction\n45 Labyrinth Mosse, Kate 1,181,093 Orion General & Literary Fiction\n46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy\n47 Help,The Stockett, Kathryn 1,132,336 Penguin General & Literary Fiction\n48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction\n49 Memoirs of a Geisha Golden, Arthur 1,126,337 Random House General & Literary Fiction\n50 No.1 Ladies\' Detective Agency,The:No.1 Ladies\' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure\n51 Island,The Hislop, Victoria 1,108,328 Headline General & Literary Fiction\n52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction\n53 You are What You Eat:The Plan That Will Change Your Life McKeith, Gillian 1,104,403 Penguin Fitness & Diet\n54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction\n55 Tales of Beedle the Bard,The Rowling, J.K. 1,090,847 Bloomsbury Children\'s Fiction\n56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure\n57 Dr. Atkins\' New Diet Revolution:The No-hunger, Luxurious Weight Loss P Atkins, Robert C. 1,054,196 Random House Fitness & Diet\n58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction\n59 Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne 1,023,688 Profile Books Group Usage & Writing Guides\n60 Delia\'s How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General\n61 Chocolat Harris, Joanne 1,009,873 Transworld General & Literary Fiction\n62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction\n63 My Sister\'s Keeper Picoult, Jodi 1,003,780 Hodder & Stoughton General & Literary Fiction\n64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction\n65 To Kill a Mockingbird Lee, Harper 998,213 Random House General & Literary Fiction\n66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest\n67 Dear Fatty French, Dawn 986,753 Random House Autobiography: The Arts\n68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction\n69 Hannibal Harris, Thomas 970,509 Random House Crime, Thriller & Adventure\n70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy\n71 Stupid White Men:...and Other Sorry Excuses for the State of the Natio Moore, Michael 963,353 Penguin Current Affairs & Issues\n72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure\n73 Sharon Osbourne Extreme:My Autobiography Osbourne, Sharon 959,496 Little, Brown Book Autobiography: The Arts\n74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction\n75 At My Mother\'s Knee ...:and Other Low Joints O\'Grady, Paul 945,640 Transworld Autobiography: The Arts\n76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing\n77 Return of the Naked Chef,The Oliver, Jamie 925,425 Penguin Food & Drink: General\n78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction\n79 Jamie\'s Italy Oliver, Jamie 906,968 Penguin National & Regional Cuisine\n80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet\n81 Down Under Bryson, Bill 890,847 Transworld Travel Writing\n82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure\n83 Small Island Levy, Andrea 869,659 Headline General & Literary Fiction\n84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General\n85 Brick Lane Ali, Monica 856,540 Transworld General & Literary Fiction\n86 Memory Keeper\'s Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction\n87 Room on the Broom Donaldson, Julia 842,535 Pan Macmillan Picture Books\n88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction\n89 My Booky Wook Brand, Russell 820,563 Hodder & Stoughton Autobiography: The Arts\n90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science\n91 "Beano" Annual,The 0 816,585 D.C. Thomson Children\'s Annuals\n92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction\n93 House at Riverton,The Morton, Kate 814,370 Pan Macmillan General & Literary Fiction\n94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction\n95 Nights of Rain and Stars Binchy, Maeve 808,900 Orion General & Literary Fiction\n96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction\n97 Happy Days with the Naked Chef Oliver, Jamie 794,201 Penguin Food & Drink: General\n98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction\n99 Lost Boy,The:A Foster Child\'s Search for the Love of a Family Pelzer, Dave 791,507 Orion Biography: General\n100 Jamie\'s Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General']

In [37]:
print (len (Table))

2

In [38]:
#importing pandas
Book_Selling = pd.DataFrame ({})
Book_Selling ['TABLE'] = Table

In [39]:
Book Selling

SyntaxError: invalid syntax (<ipython-input-39-8de96a670d47>, line 1)

In [40]:
driver.close ()

Q9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [64]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time

In [71]:
# Function Definition
def IMDB_top_100(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    year=[]
    rating=[]
    genre=[]
    runtime=[]
    
    for i in soup.find_all('img'):
        name.append(i.attrs['alt'])
    for i in list(soup.find_all('span',attrs={"lister-item-year text-muted unbold"})):
        year.append(i.text)
    for i in soup.find_all('div',attrs={"ipl-rating-star small"}):
        rating.append(i.text)
    for i in list(soup.find_all('span',attrs={"genre"})):
        genre.append(i.text)
    for i in list(soup.find_all('span',attrs={"runtime"})):
        runtime.append(i.text)
        
    df=pd.DataFrame({'names':name[:100],
                     'years':year[:100],
                     'ratings':rating[:100],
                    'genres':genre[:100],
                    'runtime':runtime[:100]})
    print(df)
    df.to_csv('IMDB_top_100.csv', index = False)

# Calling Function
IMDB_top_100("https://www.imdb.com/list/ls095964455/")

                     names        years                ratings  \
0          Game of Thrones  (20112019)  \n\n\n\n\n\n\n\n9.3\n
1                  loading     (2016 )  \n\n\n\n\n\n\n\n8.7\n
2          Stranger Things  (20102022)  \n\n\n\n\n\n\n\n8.2\n
3                  loading  (20172020)  \n\n\n\n\n\n\n\n7.6\n
4         The Walking Dead  (20142020)  \n\n\n\n\n\n\n\n7.6\n
..                     ...          ...                    ...
95                 loading  (20132017)  \n\n\n\n\n\n\n\n7.5\n
96                New Girl  (20172019)  \n\n\n\n\n\n\n\n7.8\n
97                 loading  (20052020)  \n\n\n\n\n\n\n\n8.1\n
98  Agents of S.H.I.E.L.D.  (20152019)  \n\n\n\n\n\n\n\n7.2\n
99                 loading       (2018)  \n\n\n\n\n\n\n\n8.6\n

                                    genres  runtime
0   \nAction, Adventure, Drama               57 min
1     \nDrama, Fantasy, Horror               51 min
2    \nDrama, Horror, Thriller               44 min
3   \nDrama, Mystery, Thriller               60 min
4     \nDrama, Mystery, Sci-Fi               43 min
..                                     ...      ...
95            \nDrama, Fantasy               42 min
96  \nAdventure, Comedy, Drama               50 min
97     \nCrime, Drama, Mystery               42 min
98      \nComedy, Crime, Drama               45 min
99    \nDrama, Horror, Mystery              572 min

[100 rows x 5 columns]

Q10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [72]:
import selenium
import pandas as pd
from selenium import webdriver

In [73]:
#connecting to webdriver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [74]:
driver.get("https://archive.ics.uci.edu/ml/index.php")

In [77]:
search_btn = driver.find_element_by_xpath("//span[@class ='whitetext']")
search_btn.click()

In [78]:
url = "https://archive.ics.uci.edu/ml/index.php"

In [79]:
driver.get(url)

In [80]:
Table = []

In [81]:
table_tags = driver.find_elements_by_xpath ("//p[@class = 'normal']")
table_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c7e287f941c40b2c89a22df7b46bbc24", element="91437cd8-37e3-4cf3-9cc9-c7f554a088bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7e287f941c40b2c89a22df7b46bbc24", element="95a025ca-53b0-4937-963b-16b17aecd19b")>]

In [82]:
for i in  table_tags:
    tables = i.text
    Table.append(tables)
Table [0:10]

['Supported By:', 'In Collaboration With:']